@CHARSET "UTF-8";

.btn {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

a, a:active, a:focus {
	outline: none;
}

.navbar {
	border-bottom: solid 5px #3182bd; /* d3 */
	margin-bottom: 0px;
}

.navbar-nav>li {
	float: none;
}

.subnav {
	font-size: 13px;
	border-bottom: none;
	margin-bottom: 20px;
	min-height: 0px;
}

.subnav ul {
	padding: 0% 20%;
}

.subnav li>a {
	padding: 8px 0px;
}

.subnav .active>a {
	background-color: #222 !important;
}

.subnav .active span {
	padding-bottom: 3px;
	border-bottom: 1px solid #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #bdbdbd; /* d3 */
	font-weight: bold;
}

.footer {
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top, #222222, #111111);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222),
		to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',
		endColorstr='#ff111111', GradientType=0);
	padding: 20px 0px 20px 0px;
}

.footer p {
	color: #BDBDBD;
	margin: 0px 0px 0px 0px;
}