@CHARSET "UTF-8";

.test {
	color: #6C7A89;
	color: #DC3023;
	color: #D91E18;
	color: #22313F;
	color: #d35400;
	color: #3A539B;
	color: #3498DB;
	color: #FFA400;
	color: #14548C;
	color: #09400D;
	color: #600000;
	color: #334D5C;
	color: #6A7FC9;
	color: #243A90;
	color: #05102F;
	color: #2c3e50;
	color: #EFC94C;
	color: #3B0085;

}

/* Decision 1 */
.decisionPoint1 {
	fill:  #5254a3;
	stroke:  #5254a3;
	stroke-width: 2px;
}

.decision1 {
	fill: #6b6ecf;
	stroke: #6b6ecf;
	stroke-width: 2px;
}

.outcome1 {
	fill:  #9c9ede;
	stroke:  #9c9ede;
	stroke-width: 1px;
}

/* Decision 2 */
.decisionPoint2 {
	fill: #8ca252;
	stroke: #8ca252;
	stroke-width: 2px;
}

.decision2 {
	fill: #b5cf6b;
	stroke: #b5cf6b;
	stroke-width: 2px;
}

.outcome2 {
	fill: #cedb9c;
	stroke: #cedb9c;
	stroke-width: 1px;
}

/* Decision 3 */
.decisionPoint3 {
	fill: #bd9e39;
	stroke: #bd9e39;
	stroke-width: 2px;
}

.decision3 {
	fill:  #e7ba52;
	stroke:  #e7ba52;
	stroke-width: 2px;
}

.outcome3 {
	fill: #e7cb94;
	stroke: #e7cb94;
	stroke-width: 1px;
}

/* Decision 4 */
.decisionPoint4 {
	fill: #a55194;
	stroke: #a55194;
	stroke-width: 2px;
}

.decision4 {
	fill: #ce6dbd;
	stroke: #ce6dbd;
	stroke-width: 2px;
}

.outcome4 {
	fill:  #de9ed6;
	stroke:  #de9ed6;
	stroke-width: 1px;
}

/* === Tree Layout == */
.treeRoot {
	fill: #636363;
	stroke: #636363;
	stroke-width: 2px;
}

.treeLink {
	fill: none;
	stroke: #bdbdbd;
	stroke-width: 1.5px;
}

.treeCollapsed {
	stroke: #bdbdbd;
}

.treeExpanded {
	fill: #FFFFFF;
}