@CHARSET "UTF-8";

.d3-tip {
	/* line-height: 1; */
	/* font-weight: bold; */
	padding: 12px;
	background: #222;
	color: #fff;
	border-radius: 2px;
	pointer-events: none;
	max-width: 300px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	position: absolute;
	pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
	content: "\25BC";
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
	text-align: center;
}
/* Eastward tooltips */
.d3-tip.e:after {
	content: "\25C0";
	margin: -4px 0 0 0;
	top: 50%;
	left: -8px;
}
/* Southward tooltips */
.d3-tip.s:after {
	content: "\25B2";
	margin: 0 0 1px 0;
	top: -8px;
	left: 0;
	text-align: center;
}
/* Westward tooltips */
.d3-tip.w:after {
	content: "\25B6";
	margin: -4px 0 0 -1px;
	top: 50%;
	left: 100%;
}

.treeLink {
	fill: none;
	stroke: #D9D9D9;
	stroke-width: 2px;
}

.treeCollapsed {
	stroke: #636363
}

.treeExpanded {
	fill: #FFFFFF;
	stroke-width: 3px;
}

.treeNode {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	stroke-width: 2px;
	font-weight: bold;
}

.outNode {
	stroke-width: 4px;
	font-weight: normal;
}

/*OutcomeRelationsGraph*/
/* .outcomeContainer .node>circle {
	cursor: pointer;
	stroke: #333;
} */
.layoutLink {
	fill: none;
	stroke: #bdbdbd;
	stroke-width: 1px;
}

.outRel {
	fill: none;
	stroke: #222;
	stroke-width: 3px;
}

.outRel.aff {
	stroke: #c6dbef;
	stroke-dasharray: 2, 2;
	opacity: 1;
}

.outRel.a {
	stroke-dasharray: 15, 6, 10, 6;
	opacity: 1;
	stroke: #d9d9d9;
}

.outRel.eb {
	stroke-dasharray: 20, 8;
	stroke: #dadaeb;
	opacity: 1;
}

.outRel.ex {
	fill: none;
	stroke: #d9d9d9;
	opacity: 1;
}

.outRel.in {
	fill: none;
	stroke: #c7e9c0;
	opacity: 1;
}

.outRelArrow {
	stroke-dasharray: 0 !important;
	fill: none;
	stroke-width: 1px;
}

/*DecisionGraph*/
.link {
	fill: none;
	stroke: #222;
	stroke-width: 2px;
}

.arrow {
	/* 	fill: #636363; */
	fill: #222;
}

.influencingArrow {
	fill: none;
	stroke-width: 2px;
	stroke: #222;
}

.link.influencing {
	/* stroke: #31a354; */
	
}

.link.affecting {
	stroke-dasharray: 4, 4;
	opacity: 0.25;
}

.link.binding {
	stroke-dasharray: 25, 10;
	/* stroke: #000; */
	opacity: 0.5;
}

.link.requiring {
	/* stroke: #e6550d; */
	stroke-dasharray: 15, 10, 5, 10;
	opacity: 0.75;
}

.decCircle {
	fill: none;
	stroke: black;
	stroke-width: 10px;
}

.legend {
	font-weight: bold;
	cursor: default;
}

.highlighted {
	stroke-width: 3px;
	stroke: #333;
}

.deactivated {
	fill: #fff !important;
	stroke-width: 3px;
	stroke: #333;
}

.selectable {
	cursor: pointer;
}

.conflicting {
	fill: red !important;
	stroke-width: 3px;
	stroke: #333;
}

.conflict {
	stroke: red !important;
}